<h1>New club</h1>

<p>Use this page to register new clubs. The club must be registered with the university already. You need your club registration ID in order to register here. We will verify your registered email against the email registered with the university, once verified you can manage your club's page.</p>
<%= render 'form' %>

<%= link_to 'Back', clubs_path %>
